@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    --cor_principal: #6500B3;
    --cor_fundo: #202020;
    --cor_sombra: #C376FF;

}

/*estilos repetidos*/

h2{
    font-size: 18px;
    font-weight: bold;
}

.btnCTA{
    background-color: var(--cor_principal);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 50px;
}

span{
    color: var(--cor_principal);
}

/*estilos repetidos*/

body{
    width: 100%;
    height: 100vh;
    padding: 0 360px;
    background-color: var(--cor_fundo);
    color: white;
}

.hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 106px;
}

.hero div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
}