@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    --cor_principal: #6500B3;
    --cor_fundo: #202020;
    --cor_sombra: #C376FF;

}

/*estilos repetidos*/

h2{
    font-size: 18px;
    font-weight: bold;
}

.btnCTA{
    background-color: var(--cor_principal);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 50px;
    font-weight: bold;
}

span{
    color: var(--cor_principal);
    font-weight: bold;
}

/*estilos repetidos*/

body{
    width: 100%;
    height: 100vh;
    padding: 0 360px;
    background-color: var(--cor_fundo);
    color: white;
}

.hero{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 106px;
}

.hero div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
}

.section_cards{
    gap: 30px;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.card{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.card div{
    border-radius: 20px;
    background-color: var(--cor_principal);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 50px;
    height: 420px;
}

.card p{
    text-align: center;
}

.CTA{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 130px;
    padding: 25px 0;
    background-color: var(--cor_principal);
}

.input_CTA{
    position: relative;
    display: flex;
    align-items: center;
}

.input_CTA input{
    border-radius: 6px;
    padding-left: 10px;
    width: 450px;
    height: 45px;
    border: none;
    outline: none;
}

.input_CTA button{
    position: absolute;
    border: none;
    outline: none;
    right: 0;
    padding: 0 20px;
    height: 45px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #380062;
    color: white;
    font-weight: bold;
}

.sobre{
    height: 100vh;
    gap: 150px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
}